:root{
    --raisin-black: hsla(240, 15%, 19%, 1);
    --charcoal: hsla(190, 31%, 32%, 1);
    --cadet: hsla(189, 17%, 45%, 1);
    /* --dark-green-x-11: hsla(130, 82%, 45%, 1); */
    --lincoln-green: hsla(129, 81%, 34%, 1);
    --white: hsla(0, 0%, 99%, 1);
    --success: #28a745;
    --info: #17a2b8;
    --warning: #fed136;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --primary: #fed136;
    --secondary: #6c757d;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
body {
    margin: 0;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--raisin-black);
    text-align: left;
    background-image: url("../defaultBg.jpg");
    background-position: center center;
    background-repeat:   no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--white);
  }
  
#nav {
    padding: 0px;
    padding-top: 10px;
}

#nav a {
    font-weight: bold;
    color: var(--cadet);
}

#nav a.router-link-exact-active {
    color: var(--primary);
}

.title {
    /* background: rgba(255, 255, 255, 0.1); */
    text-shadow: 5px 10px black;
    font-family: 'Caveat', cursive;
    font-size: 5rem;
    margin-top: 50px;
    margin-bottom: 20px;
}

.logo-area{
    /* background: rgba(255, 255, 255, 0.5); */
    background-image: url("../logoBGFade3.jpg");
    
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo {
    width: 20%;
    height: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.subtitle{
    margin-top: 20px;
    margin-bottom: 20px;
}

.author {
    /* font-family: "Comic Sans MS", cursive, sans-serif; */
    /* font-family: "Parisienne", cursive; */
    /* font-family: arial, "lucida console", sans-serif; */
    font-family: 'Aldrich', sans-serif;
    color: var(--lincoln-green);
    margin-left: 5px;
}

.about{
    color: var(--charcoal);
}

.round-logo {
    border-radius: 50%; 
    width: 15%; 
    height:15%; 
    margin-top: 50px; 
    margin-bottom: 25px;
}

p {
    font-weight: 500;
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

hr {
    padding: 1.5rem 0;
    border: 0;
    /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
}

a {
    color: #fed136;
    text-decoration: none;
    background-color: transparent;
  }
  a:hover, #nav a.router-link-exact-active:hover {
    color: #e6b301;
    text-decoration: underline;
  }
  
  a:not([href]) {
    color: inherit;
    text-decoration: none;
  }
  a:not([href]):hover {
    color: inherit;
    text-decoration: none;
  }

  .page-section {
    padding: 0rem 0;
  }
  .page-section h2.section-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .page-section h3.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
  }
  
  @media (min-width: 768px) {
    section {
      padding: 9rem 0;
    }
  }

  .container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

.mt-0{
  margin-top: 0 !important;
}

.my-2 {
    margin-top: 0.5rem !important;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }

  hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #f4623a;
}

.col-xl,
.col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg,
.col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md,
.col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm,
.col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col,
.col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-lg-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

/* sample */

.el-row {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}
